<h1 xmlns="http://www.w3.org/1999/html">Seja bem Vindo</h1>

<p>O idioma usado é: <strong<%= locale(I18n.locale) %></strong></p>

<p><strong>Data:</strong><%= Date.today %></p>

<%= render 'menu' %>

<p>
  Você esta em ambente de <strong><%= ambiente_rails %></strong>
</p>

<p>
  Variável de instância/sessão <strong><%= @meu_nome %></strong>
</p>

<p>
  Meu curso <strong><%= @curso %></strong>
</p>

